/*entire compose box invis on page load*/
section.new-tweet {
	display: none;
	border: solid mediumseagreen;
	border-radius: 6px;
}
/* error box initially hidden, displays with animation when user input evaluates to error*/
.new-tweet .error {
	display: none;
	text-align: center;
	border: 0 solid mediumseagreen;
	background-color: #8ad1a9;
	padding-left: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: black;
}
/*Title*/
.new-tweet h2 {
	width: 90%;
	margin-left: 1em;
	border-bottom: solid mediumseagreen;
}
/*input field, focus() on when compose box initially slides into view*/
.new-tweet textarea {;
	width: 90%;
	padding-top: .5em;
	padding-left: .5em;
	padding-right: .5em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	margin-bottom: .2em;
}
/*submit button*/
.new-tweet form [type="submit"] {
	margin-left: 1.5em;
	margin-bottom: 1em;
}
/*class applied to char counter in event of invalid char value*/
.red-text {
	color: red;
}
/*char count*/
.new-tweet form span {
	float: right;
	margin-right: 30px;
	margin-left: 20em;
	padding-bottom: 1em;
}
