section#tweet-container {

}

#tweet-container article {
	opacity: .7;
	margin-top: 10px;
	border: solid mediumseagreen;
	border-radius: 6px

}

#tweet-container article:hover {
	opacity: 1;
	background-color: whitesmoke;
	margin-top: 10px;
	border: solid mediumseagreen;
	border-radius: 6px
}
/*IMG, NAME, HANDLE*/
#tweet-container header {
	background-color: mediumseagreen;
	padding: 10px;
	padding-bottom: 75px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
/*NAME*/
#tweet-container h3 {
	font-size: 2em;
	float: left;
	margin: 0;
}
/*HANDLE*/
#tweet-container h5 {
	margin: 0;
	float: right;
	font-size: 1.2em;
	padding-right: 2px;
}
/*PROFILE PIC*/
#tweet-container img {
	height: 60px;
	width: 60px;
	border-radius: 6px;
	float: left;
	margin-right: 10px;
	margin-left: 4px;
}

#tweet-container footer {
	padding-bottom: 30px;
	border-top:solid mediumseagreen;

}
/*TIME AGO*/
#tweet-container footer h5 {
	float: left;
	font-size: .8em;
	width: 50%;
	padding-left: 7px;
	padding-top: 7px;
}

#tweet-container footer div {
	display: inline-block;
	margin-bottom: 40px;
}

#tweet-container footer i {
	display: none;
	margin-top: 4px;
	margin-right: 3px;
	float: right;
	padding: 3px;

}

#tweet-container article:hover i {
	display: block;
	margin-top: 4px;
	margin-right: 3px;
	float: right;
	padding: 3px;

}
/*TEXT CONTENT*/
#tweet-container p {
	word-break: break-word;
	padding: 16px;
	padding-left: 16px;
	padding-right: 16px
}



/*
footer:hover i {

}*/